body {
  background-color: #96bcbb;
  color: #e5f3ff;
  font-size: 62.5%;
}
/*Weather Page Wrap*/

.weather {
  background-color: #f4d413;
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

/*Weather*/

.cur {
  display: flex;
  justify-content: center;
  margin-left: 10%;
  text-align: center;
  width: 80%;
}

.seven-hour {
  display: inline-flex;
  justify-content: space-between;
  margin: 0 5em 3em 5em;
  width: 90%;
}

.seven-hour-wrapper {
  align-items: center;
  background-color: rgb(255, 246, 214, .8);
  border-radius: 30px;
  color: #22b5ee;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  margin: .5em;
  width: 140px;
  
}

.ten-day {
  margin-left: .5em;
  margin-right: .5em;
  padding-left: .5em;
  padding-right: .5em;
  text-align: center;
  width: 100%;
}

.ten-day-wrapper {
  background-color: #288eb6;
  border-radius: 30px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  margin: .5em;
  text-align: center;
  width: 95px;
}

/*Text Input and Submit Form*/

.button { 
  background-color: #eee41f;
  border-radius: 12px;
  color: #374f72;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 2em 0 0;
  padding: .75em;
  width: 10em;

}

.button:hover {
  background-color: #ddd6d7;
}

.input {
  background-color: rgb(232, 253, 255, .3);
  border: none;
  border-radius: 10px;
  color: #374f72;
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 4em;
  padding: .5em;
  width: 25em;  
}

.input::placeholder {
  color: #374f72;
}

.input:focus {
  background-color: rgb(232, 253, 255, .1);
  border: 4px solid #eee41f;
  color: #eee41f;
  font-size: 1.2rem;
  outline: none;

}

.input::placeholder {
  text-align: center;
  font-size: 1.2rem;
}

datalist {
  background-color: #eee41f;
}

.submit-field {
  display: inline-flex;
  justify-content: center;
  margin: 2em 2em 2em 2em;
  width: 100%;
}

/*Error & Welcome Messages*/

.error {
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
  text-align: center;
  width: 100%;
}

.err-msg {
  font-size:24px;
  margin: auto;
}

.welcome {
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh;
  text-align: center;
  width: 100%;
}

/*Text and Image Elements*/

h1 {
  color: white;
  font-size: 4em;
  font-weight: lighter;
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  color: white;
  font-size: 1.5rem;
}

h3 {
  color: white;
  font-size: 1.5rem;
  font-weight: lighter;
  margin-top: .25em;
}

h4 {
  font-size: 1.7em;
  font-weight: lighter;
}

h5 {
  font-size: 4em;
  margin-top: 0;
}

img {
  height:60px;
}

p {
  color: white;
  font-size: 1.5em;
  font-weight: lighter;
}

.sum {
  font-size: 1.5rem;
}










