/*.app{
  background-color: #80293D;
  display: grid;
  font-family: arial;
  grid-template-rows: 70% 30%;
  margin: 0;
  max-width: 1600px;
  height: 100vh;
  width: 100%;
}*/

.current-weather {
  text-align: center;
  border-color: #4b5660;
  border-style: solid;
  border-width: 3px;
  align-content: center;
  background-color: white;
  width: 50%;
  margin: auto;
}

.seven-hour {
  /*display: grid;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;*/
  display: inline-flex;
  background-color: white;
  justify-content: space-between;
  margin-top: 2em;


}

.ten-day{
/*  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;*/
  display: inline-flex;
  background-color: white;
  justify-content: space-between;
}


.weather {
  height: 100vh;
  width: 100%;
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-color: green;
  background-size: cover;
}

.submit-field {
  display: grid;
  grid-template-rows: 50% 50% ;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button { 
  display: grid;
  grid-row: 2 / 3;
  grid-column: 2 / 4;
  border-radius: 12px;
  font-weight: bold;
  margin-left: 25%;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0.5em 1em;
  width: 50%;
}

.button:hover {
  background-color: #ddd6d7;
}

.input {
  display: grid;
  grid-row: 1 / 2;
  grid-column: 2 / 4;
  border-radius: 12px;
  font-weight: bold;
  margin-left: 25%;
  margin-top: 4em;
  padding: 0.5em 1em;
  width: 47%;
}

.input::placeholder {
  text-align: center;
}


