body{
  background-color: #e1eaf4;
  display: grid;
  font-family: arial;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr, 2fr, 2fr, 2fr, 2fr;
  margin: 0;
  max-width: 1600px;
  width: 100%;
}

.current-weather {
  text-align: center;
  border-color: #4b5660;
  border-style: solid;
  border-width: 3px;
  margin: 50px;
}

seven-hour {
  display: grid;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
  grid-row: 1 / 2;
}



.App {
  text-align: center;
  width: 100%;
  display: grid;
  width: 100%;
  margin: 2em;
  grid-template-rows: 30% 30% 30%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
